html { 
  background: url(home/resources/DnD_PHB_Art.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

a:link{color: #4040FC;}
a:visited{color: #8549BB;}
a:hover{font-size: 110%;}

h1, h2, h3{
	font-family: 'Asul', sans-serif;
}

h1 {
	text-transform: capitalize;
	font-size: 3em;
	text-align: center;
}

header {
	text-transform: capitalize;
}

p{
	font-family: 'Lato', sans-serif;
}

body {
	font: 16px/1.25;
}

footer p{
	font-size: 0.66em;
	font-family: verdana, helvetica, serif;
}

#transbox {
	background-color: rgba(46, 9, 39, 0.6);
	border: 1px solid black;
	color: white;
	margin:0 50% 0 20px;
}

#transbox-profile {
	background-color: rgba(46, 9, 39, 0.6);
	border: 1px solid black;
	color: white;
	margin:0 50% 0 20px;
}

.nav li {
display: inline;
padding: 5px;
border: 1px solid black;
background-color: rgba(46, 9, 39, 1);
}

.nav {

}

#profile {
	float: right;
	width: 200px;
	background-color: rgba(46, 9, 39, 0.6);
	border: 1px solid black;
	color: white;
}

#sidebar {
	float: left;
	width: 200px;
	background-color: rgba(46, 9, 39, 0.6);
	border: 1px solid black;
	color: white;
}